.box{
    transform:rotateX(-20deg) rotateY(15deg);
    animation: rotate 5s ease-in-out infinite;
}

.letter{
  animation: zoomOut 5s ease-in-out infinite;
}

@keyframes zoomOut {
  0%{transform: scale(1);}
  20%{transform: scale(.2);}
  40%{transform: scale(.2) translateY(-80em) rotateX(-20deg) rotateY(15deg);}
  60%{transform: scale(.2) translateY(-55em) rotateX(-20deg) rotateY(15deg);}
  80%{transform: scale(.2) translateY(-60em) rotateX(-20deg) rotateY(15deg);}
  100%{transform: scale(.2) translateY(-60em) rotateX(-20deg) rotateY(15deg);
        opacity: 0;}
}

@keyframes rotate {
  from{transform:rotateY(0deg) rotateX(-20deg) ;}
  to{transform:rotateY(360deg) rotateX(-20deg) ;}
}

/*  */

input:disabled{
  background-color: #6c757d56;
  border-color: #6c757d56;
}

input, textarea, select{
  border: 1px black solid;
  border-radius: 8px;
}

.formField{
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: .5em;
}

.formField>input{
  border: black 1px solid;
  padding: .5em;
}

.links:hover *{
  color: red;
}

@media screen and ( max-width:640px) {
  .boxSize{
    position: absolute;
    height: 20em;
    width: 20em;
    scale: .4;
    transform: translateZ(10em);
  }

  header{
    height: fit-content;
  }
  header h1 {
    font-size: 1rem;
  }
  header nav{
    flex-direction: column;

    input{
      width: 80%;
      overflow: ellipsis;
    }
  }
  .letterForm{
    height: 70%;
    width: 90%;
    padding: 0 1em 1em 0;
    top: 65%;
  }
  .createBox, .myBox{
    display: flex;
    flex-direction: column-reverse;
    .createBoxForm{
      height: fit-content;
      overflow: scroll;
      padding-top: 10vw;
    }
  }
  .pageEmpty{
    height: 100svh;    justify-content: center;
    align-items: center;
  }
  .pageEmpty h1{
    width: 60%;
    font-size: 1em;
  }
}