.box{
    animation: rotate 10s ease-in-out infinite;
}

.letterAnimation{
  animation: zoomOut 5s ease-in-out infinite;
}

*{
  &::-webkit-scrollbar {
    display: none;
  }
}

.openInfo{
  padding: 1em;
  font-size: 1em;
  width: 90%;
}

@keyframes zoomOut {
  0%{transform: scale(1);}
  20%{transform: scale(.2);}
  40%{transform: scale(.2) translateY(-80em) rotateX(-20deg) rotateY(15deg);}
  60%{transform: scale(.2) translateY(-55em) rotateX(-20deg) rotateY(15deg);}
  80%{transform: scale(.2) translateY(-60em) rotateX(-20deg) rotateY(15deg);}
  100%{transform: scale(.2) translateY(-60em) rotateX(-20deg) rotateY(15deg);
        opacity: 0;}
}

@keyframes rotate {
  from{transform:rotateY(0deg) rotateX(-10deg) ;}
  to{transform:rotateY(360deg) rotateX(-10deg) ;}
}

/*  */

input:disabled{
  background-color: #6c757d56;
  border-color: #6c757d56;
}

label{
  color: #84c8ff;
}

input, textarea, select:not(label,span,[type = 'text'], .formField) {
  border: 1px #84c8ff solid;
  border-radius: 8px;
  color: #84c8ff;
}

option{
  color: black;
}

.formField{
  display: flex;
  padding: 1em ;
  flex-direction: column;
  gap: .5em;
  
  input, label,select{
    color: #19181b;
  }
  textarea{
    border: none;
    color: #19181b;
  }
  select{
    border: #19181b solid 1px;
  }
}

.formField option{
  border-radius: 100%;
}

.formField>input{
  border: black 1px solid;
  padding: .5em;
}

.links:hover *{
  color: #19181b;
}

@media screen and ( max-width:640px) {
  .boxSize{
    position: absolute;
    height: 20em;
    width: 20em;
    scale: .4;
    transform: translateZ(10em);
  }

  header{
    height: fit-content;
  }
  header h1 {
    font-size: 1rem;
  }
  header nav{
    flex-direction: column;
    div{
    justify-content: end;
    width: 90%;
    }
    input{
      width: 100%;
      overflow: ellipsis;
    }
  }

  .reportBtn{
    margin: 5%;
  }

  .homePage{
    display: flex;
    nav input{
      width:50%;
    }
  }

  .letterForm{
    height: 70%;
    width: 90%;
    padding: 1em;
    top: 55%;
  }
  .createBox, .myBox{
    display: flex;
    flex-direction: column;
    .createBoxForm{
      height: 100%;
      overflow: scroll;
      margin-bottom: 20%;
    }
  }

  .letterCont{
    height: 70svh;
    padding: 2em;
    justify-content: center;
  }
  .letter{
    width: 30svw !important;
  }

  .pageEmpty{
    height: 100svh;    justify-content: center;
    align-items: center;
  }
  .pageEmpty h1{
    width: 60%;
    font-size: 1em;
  }
}